.menu-active {
    .header {
        .logo {
            color: var(--color-white);
        }
    }
}

.header {
    position: relative;
    padding: 20px;
    display: flex;
    padding: calc(var(--scale-fluid-10)* 0.5) var(--scale-fluid-8);

    .logo-container {
        display: flex;
        flex: 1;
        font: var(--typeset-serif-3);
        z-index: var(--layer-3);
    }

    .logo {
        font: var(--typeset-serif-3);
    }

    .menu {
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        position: fixed;
        height: 100%;
        width: 100%;
        z-index: var(--layer-1);

        nav {
            padding: var(--scale-fluid-10);

            ul {
                list-style: none;
                padding: 0;
                margin: 0;
                font: var(--typeset-sans-4);


                li {

                    a {
                        color: var(--color-white);
                        text-decoration: none;
                    }
                }
            }
        }
    }
}